header {
    background-color: black;
    text-align: center;
    padding: 20px;

    h1{
        color: white;
        font-size: 2rem;
    }
}

.menu{
    margin-top: 20px;
    text-align: center;

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    .menu-option{
        width: 80%;
        background-color: rgb(255, 238, 0);
        padding: 20px;
        margin: 20px auto;
        border-radius: 10px;
    }
}