header {
    background-color: black;
    text-align: center;
    padding: 20px;

    .title {
        color: white;
        font-size: 2rem;
        text-decoration: none;
    }
}

.menu{
    margin-top: 20px;
    text-align: center;

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    .menu-option{
        width: 80%;
        background-color: rgb(255, 238, 0);
        padding: 20px;
        margin: 20px auto;
        border: 2px solid black;
        border-radius: 10px;


        ul {
            button {
                border: 2px solid black;
                border-radius: 5px;
                margin: 20px;
                padding: 7px 20px;
                max-width: 200px;
                box-shadow: 2px 5px;
                
                &:hover {
                    background-color: rgb(190, 190, 190);
                    box-shadow: 1px 3px;
                    cursor: pointer
                }
            }
        }
        
        
        
        .coming {
            border: 2px solid black;
            border-radius: 5px;
            margin: 20px;
            padding: 7px 20px;
            max-width: 200px;
            background-color: rgb(190, 190, 190);
            box-shadow: 1px 3px;
        }
    }
}