.display-none {
    display: none
}

.game-controls{
    display: flex;

    .display-hidden {
        padding: 0;
        border: none;
        background: none;
        width: 20px;
        height: 20px;
        margin: 10px;
        
        &:hover {
            background-color: orange;
        }
    }
}

.board {
    margin: 0 auto;
    background-color: yellow;
    padding: 10px;
    width: 300px;
}

.row {
    text-align: center;
    // border: 1px solid blue;
    display: flex;
    justify-content: center;
}

.empty {
    height: 20px;
    width: 20px;
    background-color: gray;
    margin: 5px;
    border-radius: 5px;
}

.p1 {
    height: 20px;
    width: 20px;
    margin: 5px;
    background-color: black;
    border-radius: 5px;
}

.p2 {
    height: 20px;
    width: 20px;
    margin: 5px;
    background-color: red;
    border-radius: 5px;
}