.display-none {
    display: none
}

.display-hidden {
    // visibility: hidden;
    padding: 0;
    border: none;
    background: none;
    width: 20px;
    height: 20px;
    margin: 10px;
    
    &:hover {
        // visibility: visible
        background-color: orange;
    }
}

.empty {
    color: black;
}

.p1 {
    color: orange;
}

.p2 {
    color: red;
}