.display-none {
    display: none
}

.game-controls{
    display: flex;
    justify-content: center;

    .display-hidden {
        height: 20px;
        width: 20px;
        padding: 0;
        margin: 5px;
        border-radius: 5px;
        
    }

    .one:hover {
        background-color: black;
    }

    .two:hover {
        background-color: red;
    }
}

.board {
    margin: 0 auto;
    background-color: yellow;
    padding: 10px;
    width: 300px;
}

.row {
    text-align: center;
    // border: 1px solid blue;
    display: flex;
    justify-content: center;
}

.empty {
    height: 20px;
    width: 20px;
    background-color: gray;
    margin: 5px;
    border-radius: 5px;
}

.p1 {
    height: 20px;
    width: 20px;
    margin: 5px;
    background-color: black;
    border-radius: 5px;
}

.p2 {
    height: 20px;
    width: 20px;
    margin: 5px;
    background-color: red;
    border-radius: 5px;
}